LABEL arch64
TEXT HELP
Boot Linexin LiveISO installer (NVIDIA GPU - newer than Pascal series ONLY)
ENDTEXT
MENU LABEL Install Linexin (NVIDIA GPU - newer than Pascal series ONLY) (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash

# Old NVIDIA / AMD
LABEL arch64-amd
TEXT HELP
Boot Linexin LiveISO installer with AMD GPU or NVIDIA card older than Turing (NV160/TUXXX)
ENDTEXT
MENU LABEL Install Linexin (AMD / older NVIDIA GPU) (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%  modprobe.blacklist=nvidia,nvidia-drm,nvidia-modeset nouveau.modeset=1 quiet splash
